*{
	padding: 0;
	margin: 0;
	outline:0;
	border:0;
}

body{
    background: hsl(0, 0%, 25%);
    background: url(img/bg.jpg) repeat;font-family: arial, sans-serif;
    font-size: 13px;
    color: rgb(168, 168, 168);
}

.table {
	display: table;
	border-spacing: 10px;
	border-collapse: separate;
}
.row {
	display: table-row;
	width: 300px;
	vertical-align: middle;
}
.cell { display: table-cell; }

.u { text-decoration:underline; }
.b { font-weight:bold; }
.w100 { width: 100%; }
.w50 { width: 50%; }
.h100 { height: 100%; }
.side0{
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin-right: 0;
}

.bord {	border: 1px solid hsla(0, 0%, 18%, 0.5) !important; }
.abs { position: absolute; }
.rel { position: relative; }
.red{ color: rgb(175, 75, 75); }


textarea, input, select {
    outline: 0;
    letter-spacing: normal;
    color: rgb(168, 168, 168);
    font-family: arial, sans-serif!important;
    resize:none;
}

select{
    text-align: center;
    padding: 5px;
}

.inp .left textarea,
.inp .left .size, .ob {
    color: rgb(2, 141, 168)!important;
}

.input, textarea {
    background:rgb(11, 0, 17);
}


.input, .tab, .but, .main_form{
    border: 1px solid rgba(2, 141, 168, 0.22);
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
         -o-border-radius: 3px;
            border-radius: 3px;
}

.but, .tab {
    cursor: pointer;
    text-align: center;
    font-size: 12px;;
    border: 1px solid  rgba(0, 70, 80, 0.48);
}

.but{
    padding:5px;
    background-color: #F4F4F4;
    background-image: -webkit-linear-gradient(top,hsl(0, 0%, 97%),hsl(0, 0%, 80%));
    color: #1A1A1A;
    font-weight: bold;
    letter-spacing: normal;
}
.but:hover{
    box-shadow: inset 0 0px 2px rgb(0, 0, 0);
    background-image: -webkit-linear-gradient(top,hsl(0, 0%, 97%),hsl(0, 0%, 70%));
}
.but.act {
    box-shadow: inset 0 0px 2px rgb(0, 0, 0);
    background: rgb(66, 102, 148);
    color: #333;
}

button img{
	margin-top: 2px;
}
#generator {
    width: 100%;
    margin-top: 75px;
}
.tab {
    display: inline-block;
    padding: 10px 25px;

    font-weight: 800;
    text-transform: uppercase;
    color: rgb(168, 168, 168);

    background: rgb(12, 12, 12);
	border: 1px solid black;
}
.tab:hover{
     color:rgb(148, 158, 124);
 }
.tab.act{
    background: rgb(12, 12, 12);
	padding: 15px 25px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom: 0;
    color: rgb(2, 141, 168);

}

.scroll-y{
	overflow-y:scroll !important;
    padding-right: 10px;
}
/*------------DOM---------------------------------------------------------------------------------------------*/

#wrap{

    min-width: 850px;
    max-width: 80%;

    margin-left: auto;
    margin-right: auto;


}
.main_form{
    display:none;
    padding: 5px 0 5px 5px;
    clear:both;
    background: rgb(12, 12, 12);
    background-image: -webkit-linear-gradient( top, rgb(12, 12, 12), rgb(15, 15, 15) );

    box-shadow: 0px 0px 0px hsla(0, 0%, 75%, 0.5), -0px -0px 0px hsla(0, 0%, 75%, 0.5);
}

#formTabs, #tipTabs{
	height:44px;
	margin-top:15px;
}
.ie9 #formTabs, .ie9 #tipTabs{
	height: 43px;
}

#ascii_form, #information {
    padding: 15px;
    line-height:20px;
}

.dt {
    font-weight:bold;
    color:rgb(2, 141, 168);
}

#ascii_form .tbl_wrap{
	display: inline-block;
	vertical-align:top;
	margin: 10px;
}
.asci_tbl {
	display: inline-table;
	color: #999;
}
.asci_tbl td {
padding: 1px 10px;
text-align: center;
}
.asci_tbl td:first-child {
font-weight: bold;
    color: rgb(2, 141, 168);
}


#to, #information{
display:block;
}

#information ol {
    margin: 5px 20px;
}
#information li {
margin-left: 20px;
}
#information a{
text-decoration: underline;
color:white;
cursor:pointer;
}

.left{
	width	:	auto;
}
.m-placeholder { color: #818181; }
.output_field, .input_field{
	height: 100%;
	z-index: 2;
	visibility: hidden;
	overflow-x: hidden;
	overflow-y:hidden;
}
.vis{
	visibility: visible !important;
}

.outres, .inres{

	overflow-x: hidden;
	overflow-y:hidden;
	margin: 10px;
	padding-bottom: 0;
	z-index: 1;
	resize:none;
}

.inpwrap{
	height:58px;
	padding-bottom: 20px;
	margin: 0;
}
.input, .inres{
	height: 48px;
    box-shadow: inset 0px 0px 20px black;
}

.outwrap{
	height: 142px;
	padding-bottom: 10px;
	margin: 0;
}
.output, .outres {	
	height: 125px;
	visibility: hidden;
}

.tips{
	table-layout	:	fixed;
	vertical-align	:	top;
	width			:	245px;
	padding			:	0 5px;
	cursor: default;
}
.ie9 .tips{
	width			:	255px;
}
.tip{
	width: 100%;
	table-layout: fixed;
	display: none;
}
.full table {
width: 100%;

border-spacing: 0;
}
.full tr {
height: 27px;
}
tr.clr {
height: 15px!important;
}
.tip.act{
	display: block;
}

#to .out{
margin-top:-5px;
}
#from .out{
margin-bottom:-5px;
}
td.first{
	width: 55%;
}
td.sec{
    color: rgb(2, 141, 168);
	width: 25%;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
}
td.thi{
	vertical-align: middle;
	width: 20%;
}
td .but{
width:100%;
padding: 0;
height: 27px;
line-height:27px;
vertical-align: middle;
}


.spaces{
	float:right;
	font-size: 12px;
}
#copy{
	color: #3D4144;
	left: 5px;
	bottom: -0px;
	height: 20px;
	width: 25px;
	text-shadow: -1px -1px 1px black;
	font-family: Arial black;
	font-size: 100%;
	letter-spacing: -4px;
}
#tooltip{
	right: -69px;
border: 1px solid;
line-height: 24px;
vertical-align: middle;
padding: 15px;
background: url(img/carbon_dark.jpg) !important;
border: 1px solid rgba(179, 179, 179, 0.3);
}
